<div class="user-info">
    <div class="card">
        <div class="card-header">
        <h3>Profile Name: {{name}}</h3>
        </div>
        <div id="email-parent" class="card-body">
            <h5 class="inline mx-3 p-3">
                email: <span id='email'>{{email}}</span>
            </h5>
            <button id="submit" class="btn btn-secondary inline">Update</button>
        </div>
    </div>
</div>
<script src="/js/updateEmail.js"></script>