{{#each posts as |post|}}
    <div class="card mx-auto my-3 py-3 text-center col-10 col-md-8">
        <div class="card-header">
        <h3>
            <a class="text-dark" href="/post/{{post.id}}">
            {{post.title}}
            </a>
        </h3>
            <p>
                Written by {{post.user.name}}
            </p>
            <p class="font-weight-light">{{dateTime post.createdAt}}</p>
        </div>
    </div>
{{/each}}