<form>
<div class="card mx-auto my-4 py-3 text-center col-10 col-md-8">
        <div class="card-header">
        <h3>Create an account</h3>
        </div>
        <div class="card-body">
        <label for="username">Username</label>
        <input id='username' type="text">
        <br>
        <label for="email">Email</label>
        <input id='email' type="email">
        <br>
        <label for="password">Password</label>
        <input id='password' type="text">
        <br>
        <button id="create-user" class="btn btn-primary">Create Account</button>
    </div>
</form>
<div class="card mx-auto my-4 py-3 text-center col-10 col-md-8">
        <div class="card-header">
        <h3>Login</h3>
        </div>
        <div class="card-body">
        <label for="email">Email</label>
        <input id='email-login' type="email">
        <br>
        <label for="password">Password</label>
        <input id='password-login' type="text">
        <br>
        <button id="login-submit" class="btn btn-primary">Log in</button>
        </div>
</div>
<script src="/js/createUser.js"></script>
<script src="/js/login.js"></script>