    <div class="card-header bg-new">
        <h3>New Post</h3>
    </div>
        <div id="email-parent" class="card-body">
            <form action="" class="">
                <label class="left" for="post-title">
                    <h3>Title</h3>
                </label>
                <input value="{{post.title}}" id="post-title" class="w-75 block mx-auto my-2" type="text">
                <label class="left" for="post-content">
                    <h3>Post Body</h3>
                </label>
                <textarea class="textarea w-75 block mx-auto mb-2" id="post-content" cols="30" rows="10">{{post.post_content}}</textarea>
                <button data-postId="{{post.id}}" id="update-post" class="btn btn-secondary w-75 mx-auto inline block">Update</button>
            </form>
        </div>
<script src="/js/updatePost.js"></script>