<div class="card mx-auto text-center col-10 col-md-8">
        <div class="card-header">
        <h3>{{post.title}}</h3>
        <p>By: {{post.user.name}}</p>
        </div>
        <p>{{post.post_content}}</p>
</div>