* {
    overflow-wrap: break-word;
}

.bg-custom {
    background-color: #1B998B;
}

.bg-new {
    background-color: #2d304772;
}

ul {
    list-style: none;
}

a {
    color: white;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.left {
    position: relative;
    left: 13%;
}

.size-up {
    font-size: 200%;
  }

i:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}